
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
}
.jScrollPaneDrag {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	left: -1px;
}
a.jScrollArrowUp,
a.jScrollArrowDown {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}
a.jScrollArrowDown {
	bottom: 0;
	top: auto;
}
a.jScrollArrowDown:hover {
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
}